body{
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}
h1{
  margin: 0;
  margin-bottom: .5rem;
}

input{
  border: 2px solid rgb(71, 70, 70);
  border-radius: .4rem;
  padding: .35rem;
  width: 10rem;
}

select{
  margin-left: .5rem;
}
.equal{
  font-weight: bold;
  font-size:2rem;
  margin-left: -3.75rem;
}